<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>nayahto</h1>
        </header>
        <article>
            <aside>
                <nav>
                <a href="#">cadastro</a>
                <a href="#">filmes</a>
                <a href="#">hqs</a>
                <a href="#">pokedex</a>
                </nav>
            </aside>
            <form action="">
                <label for="imagem">imagem</label>
                <input name="imagem" type="text">
                <label for="nome">nome</label>
                <input name="nome" type="text">
                <label for="lancamento">lancamento</label>
                <input name="lancamenteo" type="text">
                <label for="descricao">descricao</label>
                <input type="text">
                <button>enviar</button>
            </form>
        </article>
        <article>

        </article>
    </section>
    <footer>

    </footer>
</body>
</html>