<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>nayahto</h1>
                <nav>
                <a href="/catalogo">detalhes</a>
                <a href="#form_p">cadastro</a>
                </nav>
        </header>
        <article id="art_prc" >
            <% form_dado.forEach((film) => { %>
                <div id="prc">
                    <img src="<%= film.imagem%>" alt="teste">
                    <p><%= film.nome%></p>
                </div>
    <% }) %>
        </article>
        <article id="form_p">
            <div >
                <h2>cadastre seu filme aqui</h2>
            <form action="/create" method="post">
                <label for="imagem">imagem</label>
                <input name="imagem" required type="text">
                <label for="nome">nome</label>
                <input name="nome" required type="text">
                <label for="lancamento">lancamento</label>
                <input name="lancamento" rquired type="date">
                <label for="descricao">descricao</label>
                <input name="descricao" required type="text">
                <button>enviar</button>
            </form>
        </div>
        </article >
    </section>
    <footer>

        <nav>
            <a href="https://twitter.com/nayahto">twitter</a>
            <a href="https://www.instagram.com/nayahto">instagram</a>
            <a href="https://www.reddit.com/user/Nayahto">reddit</a>
            <a href="https://www.facebook.com/Nayahto-109136978429906">facebook</a>
            <a href="">lindekin</a>
            <a href="https://github.com/Nayahto">github</a>
        </nav>
    </footer>
</body>
</html>