<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>nayahto</h1>
        </header>
        <article>
            <aside>
                <nav>
                <a href="#">cadastro</a>
                <a href="#">filmes</a>
                <a href="#">hqs</a>
                <a href="#">pokedex</a>
                </nav>
            </aside>
            <form action="/create" method="post">
                <label for="imagem">imagem</label>
                <input name="imagem" type="text">
                <label for="nome">nome</label>
                <input name="nome" type="text">
                <label for="lancamento">lancamento</label>
                <input name="lancamento" type="text">
                <label for="descricao">descricao</label>
                <input name="descricao" type="text">
                <button>enviar</button>
            </form>
        </article >
       
        <article id="art_prc" >
            <%form_dado.forEach((film)=>{ %>
            <div id="prc">
            <img src="<%form_dado.imagem%>" alt="teste">
            <h2><%form_dado.nome%></h2>
            <p><%form_dado.lancamento%></p>
            <p><%form_dado.descricao%></p>
        </div>
    <%})%>
        </article>
    </section>
    <footer>

    </footer>
</body>
</html>