<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>nayahto</h1>
        </header>
        <article>
            <aside>
                <nav>
                <a href="/catalogo">catalogo</a>
                <a href="#">editar</a>
                </nav>
            </aside>
            <div id="form_p">
                <h2>cadastre seu filme aqui</h2>
            <form action="/create" method="post">
                <label for="imagem">imagem</label>
                <input name="imagem" required type="text">
                <label for="nome">nome</label>
                <input name="nome" required type="text">
                <label for="lancamento">lancamento</label>
                <input name="lancamento" rquired type="date">
                <label for="descricao">descricao</label>
                <input name="descricao" required type="text">
                <button>enviar</button>
            </form>
        </div>
        </article >
       
        <article id="art_prc" >
            <% form_dado.forEach((film) => { %>
            <a href="#1">
                <div id="prc">
                    <img src="<%= film.imagem%>" alt="teste">
                    <p> Nome: <%= film.nome%></p>
                    <p>lancamento: <%= film.lancamento%></p>
                </div>
            </a>
    <% }) %>
        </article>
    </section>
    <footer>

    </footer>
</body>
</html>